NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/olthem?schema=public"
FRONTEND_ORIGIN="http://olthem.local"
JWT_SECRET="change-this-super-secret"
JWT_EXPIRES_IN="7d"
ADMIN_SEED_EMAIL="admin@olthem.local"
ADMIN_SEED_PASSWORD="ChangeMe123!"
